.maindiv{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    height: 100vh;
    width: 0;
    transition: 0.5s;
}
button{
   margin: 10px !important; 
}
ul{
    text-align: center;
}
li{
    list-style-type: none;
    margin: 50px;
    color: rgb(241, 245, 241);
    font-size: 40px; 
    display: none;  
}