body{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.col-md-6{
    border: 6px solid black;
    margin-top: 160px !important; 
    padding: 20px;

}

button{
    margin:20px !important;
    border: 2px solid black !important;

}

h1{
    font-weight: bolder !important;
    margin:20px !important;
}